body {
  color: #e1e1e1;
  background-color: #181818;
  font-family: 'Helvetica';
}

header {
  margin-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;;
}

ul {
  list-style-type: none;
}

ul#nav-list {
  margin-right: 2rem;
  display: flex;
  gap: 1rem;
}

li {
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #e1e1e1;
}

main {
  display: flex;
  height: 50rem;
}

section {
  display: flex;
  flex-grow: 1;
}

canvas {
  align-self: center;
}

div#left-container {
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form#add-movie-form {
  display: flex;
  flex-direction: column;
}

div#right-container {
  display: flex;
  flex-direction: column;
  width: 65vw;
  max-height: 50rem;
  padding: 3rem 3rem 3rem 0;
  justify-content: center;
  align-items: center;
}

#movies-container {
  overflow-y: scroll;
}

#movies-container>ul {
  display: flex;
  flex-wrap: wrap;
}